// COLOR VARIABLES

$mavsBlack: #292929;
$mavsBlack2: RGBA(39, 39, 39, 1);
$mavsBlue: #006AB6;
$mavsBlue2: #1655BA;
$mavsGray: #4B4F5B; 
$mavsGray2: RGBA(176, 174, 179, 1);


// FONTS

// font-family: 'Permanent Marker', cursive;
// font-family: 'Rokkitt', serif;
// font-family: 'Gruppo', cursive;
// font-family: 'Titillium Web', sans-serif;
// font-family: 'Dosis', sans-serif;
// font-family: 'Lato', sans-serif;

@font-face {
  font-family: 'aaaiight';
  src: url('../patFonts/aaaiight/aaaiight.ttf');
}

// paths modified from url('/styles/aaaiight/...

@font-face {
  font-family: 'ea';
  src: url('../patFonts/ea_sports_covers_sc/EA Sports Covers SC 1.5.ttf');
}


// TEMP/IN PROGRESS/NEEDS TO BE ORGANIZED STYLE

button {
    background-color: $mavsBlue;
    font-family: 'Gruppo', cursive;
    color: #F8F8F8;
}

a {
   text-decoration: none;
   color: #F8F8F8; 
}

input {
    font-family: 'Gruppo', cursive;
    padding: 2px 0 3px;
}


// APPLICATION STYLE

        .hundo {
            width: 100%;
        }

        .autoCenter {
            margin: 0 auto;
            text-align: center;
        }

body {
    background: #F8F8F8;    // #F6F5F6;    // #FDFEFF;
    font-family: 'Permanent Marker', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $mavsBlue;     // #333;
}

* {
    // outline: 1px solid blue;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.everythingContainer {
    margin: 0 auto;
    max-width: 1024px;
}

header {
    background: $mavsBlue2;
    color: #F8F8F8;
    border-bottom: 0.1em solid silver;
    padding: 1em;
    text-align: center;
    position: relative;

    a {
        color: $mavsBlack2;
    }

    span {
        color: $mavsGray2;
    }
}

// .trNav {
//     display: inline-block;
//     position: absolute;
//     top: 1em;
// }

footer {
    border-top: 0.1em solid silver;
    text-align: center;
    background: $mavsBlue2;
    color: $mavsBlack2;
    padding: 1em 0;
}


// INDEX STYLE

.indexLeftColumn {
    display: inline-block;
    width: 40%;
    // font-family: 'Permanent Marker', cursive;
    font-family: 'Dosis', sans-serif;
    margin-top: 0.75em;
    // font-family: 'Rokkitt', serif;      // affecting both pages, maybe take out
    // font-family: 'ea';

    p:nth-child(2) {
        margin-top: 2em;
    }
}

.introText h1 {
    color: $mavsBlack;
    text-align: center;
    font-family: 'aaaiight', cursive; 
}

.indexRightColumn {
    display: inline-block;
    width: 58%;
    margin-left: 2%;
    vertical-align: top;
}

.signIn {
    margin-top: 2em;
    padding: 1em;
    // background-color: chartreuse;
    background-color: $mavsGray2;
}

.register {
    margin-top: 1em;
    padding: 1em;
    // background-color: fuchsia;
    background-color: $mavsBlack2;
}

.indexBtmSldr {
    width: 85%;
    margin: 2em auto;
    text-align: center;

    img {
        max-width: 100%;
        max-height: 333px;
        margin: 0 auto;
    }
}


// WELCOME STYLE

.blackLink {
    color: $mavsBlack2;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
}

p {
    font-family: 'Dosis', sans-serif;
}

h1 {
    color: $mavsBlack2;
}


// EDITPROFILE STYLE

.previousAvatar {
    height: 150px;
    width: 150px;
    border-radius: 9px;
}

.avatarToUpload {
    // object-fit: contain;
    width: 300px;
    height: 300px;
    border-radius: 9px;    
}

.ePButton {
    background-color: $mavsBlack2;
    color: #F8F8F8;
}


// COURTS STYLE

.secondaryBG {
    position: relative;
    background: url("../images/bballBGImage.png");
    background: webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,.8)), color-stop(100%,rgba(0,0,0,.2))), url("http://www.dartmouthlakers.ca/wp-content/uploads/2012/03/basketball-texture-590x250.jpg");
    background-size: cover;
    height: 17em;       /* 250px */

    // background-color: chartreuse;
    // background: url("http://wannadunk.com/wp-content/themes/eVid/timthumb.php?src=http://wannadunk.com/wp-content/uploads/2010/10/campbell-park.jpg&h=200&w=591&zc=1&q=90");
    // background: url("http://image.shutterstock.com/display_pic_with_logo/557335/557335,1284561818,2/stock-vector-vector-illustration-of-street-basketball-court-on-blacktop-61047421.jpg");
    
    border-bottom: 0.1em solid silver;


  // // height: 300px;

}

.jGo {
    padding-top: 2em;
    overflow: hidden;
    // position: absolute;
    // top: 2em;
    // left: 18.5em;
}

.avatarBox {
    position: absolute;
    top: 14em;       /* 200px; */
    left: 1.7em;
    z-index: 1000;    
    height: 150px;

    img {
        height: 150px;
        width: 150px;
        border-radius: 9px;
    }

}

.handleDisplay {
    position: absolute;
    top: 18em;       /* 200px; */
    left: 12em;
    z-index: 1000;    
    height: 150px;

    span {
        font-weight: 700;
    }

}

.navBar {
    // position: relative;
    height: 3.5em;            /* 50px; */
    border-bottom: 0.1em solid silver;
    text-align: right;
    // color: $mavsBlue2;
    background: $mavsBlack2;
    
    // form {
    //     height: 100%;
    //     display: inline-block;
    //     // vertical-align: middle;

    .ollie {
        display: inline-block;
        margin: 1em;
    }

}

.mainSection {
    // white-space: nowrap;
}

#pinnedMap {
    width: 60%;                     // 38em;    /*  %!!!!! */
    height: 500px;
    margin: 0 auto;
    text-align: center;
}

.mainSection img {
    // width: 100%;
}


.twoColumns {
    position: relative;
}


.courtFilterBox {
    text-align: center;
    // height: 30px;       //56 px would match bar up top...
    background: $mavsGray2;
    font-family: 'Permanent Marker', cursive;

    input {
        margin-bottom: 0.5em;
    }
}

.offsetMiddleBar {
    width: 100%;
    text-align: center;
    background: $mavsBlack2;
    height: 30px;       //56 px would match bar up top...
}


.leftColumn {
    display: inline-block;
    background: $mavsBlack2;
    width: 36%;
    // font-family: 'Permanent Marker', cursive;
    font-family: 'Dosis', sans-serif;
    // font-family: 'Rokkitt', serif;      // affecting both pages, maybe take out
    // font-family: 'ea';

    h2 {
        color: $mavsBlue;      // #F8F8F8;
        text-align: center;
    }

    a {
        color: #F8F8F8;        // $mavsBlue
    }

    li {
        color: $mavsBlue;      // $mavsGray;
        padding-right: 0.5em;
    }

}

.rightColumn {
    display: inline-block;
    // padding-left: 36%;       // IF YOU TRY TO DO MAKE LEFT COLUMN POSITION:ABSOLUTE...
    width: 64%;    // 100%
    vertical-align: top;

    button {
        display: inline-block;
    }

    h2.courtProfileName {
        // margin-left: 1em;
        padding: 0.75em 0 0.75em 1em;                    // 0.75em 1em;
        display: inline-block;
        width: 100%;                    // 96.5%;
        color: $mavsBlack2;
        background-color: $mavsGray2;
        text-shadow: 0 1px 0 rgba(255,255,255,0.4);
        box-sizing: border-box;
    }

    .courtProfileInfo {
        color: $mavsBlack2;
        font-family: 'Dosis', sans-serif;
        // font-family: 'Lato', sans-serif;
        font-weight: 300;
        padding-left: 3em;

        // font-family: 'aaaiight', cursive;
    }

    .blue {
        color: $mavsBlue2;
    }

    .ifPostingAO {
        margin-left: 2em;
    }   

    .alleyOopdates {
        // font-family: 'Lato', sans-serif;
        font-family: 'Dosis', sans-serif;
        font-weight: 300;
        color: $mavsBlack2;
        font-style: italic;



        ul {
            margin-top: 3.75em;
            list-style-type: none;
            // list-style-image: url('/images/38394.png'); 
        }

        li {
            margin-top: 3em;
            margin-left: 0.5em;
        }

        p {
            margin-left: 2em;
        }
    }

    .relative {
        position: relative;
        margin-bottom: 2.5em;

        img {
            vertical-align: middle;
        }
    }

    .timestamp {
        font-family: 'Dosis', sans-serif;
        // font-family: 'Gruppo', cursive;
        font-weight: 700;
        // vertical-align: bottom;
    }
    
    .pMarker {
        font-family: 'Permanent Marker', cursive;  
        padding-right: 0.5em;
        // vertical-align: bottom;
    }

    .pushDown {
        display: inline-block;
        position: absolute;
        // top: 0.5em;
    }

    .iB {
        display: inline-block;
        font-style: normal;
        vertical-align: top;

        img {
            vertical-align: top;
        }
    }

    .userPhotoAO {
        width: 32px;
        height: 32px;
    }

    .verified {
        font-family: 'Permanent Marker', cursive;    
        display: inline-block;
        margin-top: 7px;
        vertical-align: top;
        padding-right: 0.2em;
    }

    .bold {
        font-weight: 500;
    }

    .cPTU {

        margin-left: 2em;
        margin-bottom: 2em;

        .courtPhotoToUpload {
            height: 200px;
            width: 200px;
        }

    }

    .visualListItems {
        padding-left: 1.5em;
    }

    .courtPhotoThumbnail {
        // object-fit: contain;
        width: 7em;
        height: 7em;
    }



    .courtHeaderSection {
        padding-left: 1.5em;
        position: relative;
        box-sizing: border-box;

        h4 {
            // margin-left: 1.4em;
            padding: 0.75em 1em;
            width: 100%;                    // 96.5%;
            display: inline-block;
            color: $mavsBlack2;
            background-color: $mavsGray2;
            // box-sizing: border-box;
        }

        .alignRight {
            display: inline-block;
            position: absolute;
            right: 1em;
        }

        .AR1 {
            bottom: -0.5em;
        }

        .AR2 {
            top: 1.85em;
        }
    }

    .spaceBottom {
        margin: 2em 0 3em;
    }

}








.btn {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 0.6em 1em 0.55em 1em;
  // margin-top: 2em;
  // margin-left: 11.75em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #F8F8F8;
  text-decoration: none;
  background: $mavsBlue;
  transform: translate3d(0, 0, 0);
  transition: .1s background,
              .1s transform;

  &:hover {
    background: darken($mavsBlue, 5);
    transform: translate3d(0, 8px, 0);
    
    &:after,
    &:before {
      height: 0;
      background: darken($mavsBlue, 10);
    }
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 100%;
    width: 50%;
    height: 8px;
    background: darken($mavsBlue, 5);
    transition: .1s height,
                .1s background;
  }

  &:after {
    right: 0;
    transform: skewX(-45deg);
    transform-origin: 0 0;
  }

  &:before {
    left: 0;
    transform: skewX(45deg);
    transform-origin: 100% 0;
  }
}


// COURT MEDIA QUERIES

@media (max-width: 528px) {
    .rightColumn .courtVines .visualListItems {
        padding-left: 0.1em;
    }
}

@media (max-width: 665px) {
    #pinnedMap {
        width: 87.5%;
    }

    .avatarBox, .handleDisplay {
        display: none;
    }
}

@media (min-width: 666px) and (max-width: 866px) {
    #pinnedMap {
        width: 80%;
    }
}

@media (max-width: 820px) {

    // .rightColumn .courtHeaderSection .AR1 {
    //     top: 5.5em;
    // }

    .ollie label {
        font-size: 0.5em;
    }

    .rightColumn .courtHeaderSection .AR2 {
        top: 4.5em;
    }

    .rightColumn .visualListItems {
        margin-top: 2.5em;
    }
}


// INDEX MEDIA QUERIES

@media (max-width: 688px) {

    .indexLeftColumn {
        display: block;
        width: 85%;
        margin: 0 auto;
    }    

    .indexRightColumn {
        display: block;
        width: 85%;
        margin: 0 auto;
    }

    .indexBtmSldr {
        width: 85%;
    }

}



// <div class="absolute">
//             <a href="" title="Button border lightblue" class="button btnFloat btnLightBlue">Float</a>
// </div>


// .absolute {
//     position: absolute;
// }

// a.button {
//   display: inline-block;
//   position: relative;
//   float: left;
//   width: 120px;
//   padding: 0;
//   margin: 10px 20px 10px 0;
//   font-weight: 600;
//   text-align: center;
//   line-height: 50px;
//   color: #FFF;
//   border-radius: 5px;
//   transition: all 0.2s ;
// }

// .btnLightBlue {
//   background: $mavsBlue;
// }

// .btnFloat {
//   background: none;
//   box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
// }

// .btnFloat:before {
//   content: 'Edit Court Profile';
//   font-size: 0.5em;
//   display: inline-block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 15em;
//   height: 50px;
//   border-radius: 5px;
//   transition: all 0.2s ;
// }

// .btnLightBlue.btnFloat:before {
//   background: $mavsBlue;
// }

// .btnFloat:before {
//   box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
// }

// .btnFloat:hover:before {
  
// }

// .btnFloat:hover:before {
//   margin-top: -2px;
//   margin-left: 0px;
//   transform: scale(1.1,1.1);
//   -ms-transform: scale(1.1,1.1);
//   -webkit-transform: scale(1.1,1.1);
//   box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
// }